*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo

2013年7月修订的研究生院规范撰写范例/simsun.ttc

2013年7月修订的研究生院规范撰写范例/simhei.ttf

2013年7月修订的研究生院规范撰写范例/compile.sh

2013年7月修订的研究生院规范撰写范例/clean.sh

*.sh

source/simhei.ttf

source/simsun.ttc

source/beamerthemeuestcthesis.sty

source/packagecheck.tex

source/uestcthesis.bst

source/uestcthesis.cls

source/uestcthesis.pdf

2013年7月修订的研究生院规范撰写范例/example.pdf

test
